In [ ]:
import pandas as pd

In [ ]:
# Calling DataFrame constructor 
df = pd.DataFrame() 
print(df)

In [ ]:
# To create data frame, import pandas as pd

# list of strings
list_obj = ["Nikita Asrani",
            "Pravin Galande",
            "Rayan Mariyan",
            "Sanjeevani Koli",
            "Sagar Yadav",
            "Vikram Kumar",
            "Inder Punj",
            "Manoranjan Singh",
            "Sagar Wagh"]
# Calling DataFrame constructor on list
df_obj = pd.DataFrame(list_obj)
print(df_obj)

In [ ]:
# Initialize data of lists.
data = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 'Age':[23, 21, 34, 27]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

### Basic operations
**Column Selection**

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Pune'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)

# select two columns
print(df[['Name', 'Qualification']])

**Row Selection**

In [ ]:
data = pd.read_csv("nba.csv", index_col ="Name")
# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]
print(first,"\n\n\n",second)

<hr/>

### Importing and exporting data

Writing to the CSV/Excel

In [ ]:
students_df = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'],
             'Age':[27, 24, 22, 32],
             'Address':['Delhi', 'Kanpur', 'Allahabad', 'Pune'],
              'Qualification':['Msc', 'MA', 'MCA', 'Phd']}

# Create DataFrame
df = pd.DataFrame(students_df, columns= ['Name', 'Age', 'Address', 'Qualification'])

# Export DataFrame to CSV File
export_csv = df.to_csv (r'test_dataframe.csv', index = None, header=True)

df.to_excel(r'test_dataframe.xlsx')

print(df)

Reading to the CSV/Excel

In [ ]:
df = pd.read_csv('test_dataframe.csv')
df.head()

df = pd.read_excel(r'test_dataframe.xlsx')
print(df)

<hr />

### Indexing and Selecting

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving columns by indexing operator
first = data["Age"]

print(first)

**Indexing a DataFrame using .loc[ ]**

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving row by loc method
first = data.loc["Avery Bradley"]
second = data.loc["R.J. Hunter"]

print(first, "\n\n\n", second)

**Indexing a DataFrame using .iloc[ ]**

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name")

# retrieving rows by iloc method 
row2 = data.iloc[3] 

print(row2)

**Iterating over rows and columns**

**Iterating over rows**

In [ ]:
# Dictionary of lists
dict_obj = {'name':['Pravin', 'Rayan', 'Sagar', 'Inder'],
            'degree': ["MBA", "BCA", "M.Tech", "MBA"],
            'score':[90, 40, 80, 98]}

# Creating a dataframe from a dictionary 
df = pd.DataFrame(dict_obj)

# iterating over rows using iterrows() function 
for i, j in df.iterrows():
    print(i, j)
    print()

**Iterating over Columns**

In [ ]:
# Dictionary of lists
dict = {'name':['Pravin', 'Rayan', 'Sagar', 'Inder'],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
# creating a dataframe from a dictionary 
df = pd.DataFrame(dict_obj)
print(df)

# creating a list of dataframe columns
columns = list(df)
print("\n")
for i in columns:
    # printing the third element of the column
    print (df[i][2])

**Lowercasing and Uppercasing a Data**

In [ ]:
# Define a dictionary containing employee data 
data = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Pune'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 

# Converting and overwriting values in column 
df["Name"]= df["Name"].str.lower()

print(df)

**Splitting and Replacing a Data**

In [ ]:
# Define a dictionary containing employee data 
data = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Pune'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

# Convert the dictionary into DataFrame  
df = pd.DataFrame(data) 

# dropping null value columns to avoid errors 
df.dropna(inplace = True) 

# new data frame with split value columns 
df["Address"]= df["Address"].str.split("a", n = 1, expand = True) 

# df display 
print(df)

**Replace a data**

In [ ]:
# reading csv file from url
data = pd.read_csv("nba.csv")

# overwriting column with replaced value of age
data["Age"]= data["Age"].replace(25.0, "Twenty five")

# creating a filter for age column 
# where age = "Twenty five"
filtered_date = data["Age"]=="Twenty five"

# printing only filtered columns
data.where(filtered_date).dropna()

<hr/>

### Pandas Concatenating, Merging, and Joining

**Concatenating DataFrame**

In [ ]:
# Define a dictionary containing employee data  
data_obj_1 = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'],
              'Age':[27, 24, 22, 32], 
              'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Pune'], 
              'Qualification':['Msc', 'MA', 'MCA', 'Phd']} 

# Define a dictionary containing employee data 
data_obj_2 = {'Name':['Gaurav', 'Dushyen', 'Sanjeevani', 'Manoranjan'], 
              'Age':[17, 14, 12, 52], 
              'Address':['Delhi', 'Kota', 'Sangareddy', 'Kannuaj'], 
              'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

 # Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(data_obj_1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(data_obj_2, index=[4, 5, 6, 7])

print(df_obj_1, "\n\n", df_obj_2)

# Using a .concat() method
frames = [df_obj_1, df_obj_2]
res_df = pd.concat(frames)
print("\n\n")
print(res_df)

**Now we set axes join = inner for intersection of dataframe**

In [ ]:
# Define a dictionary containing employee data 
emp_obj_1 = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 

# Define a dictionary containing employee data 
emp_obj_2 = {'Name':['Gaurav', 'Dushyen', 'Sanjeevani', 'Manoranjan'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]}  
 
# Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(emp_obj_1,index=[0, 1, 2, 3])
 
# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2, index=[2, 3, 6, 7]) 

print(df_obj_1, "\n\n", df_obj_2)

# Applying concat with axes join = 'inner'
res_df_2 = pd.concat([df_obj_1, df_obj_2], axis=1, join='inner')
res_df_2

**Now we set axes join = outer for union of dataframe**

In [ ]:
# Using a .concat for union of dataframe
res_df_2 = pd.concat([df_obj_1, df_obj_2], axis=1, join='outer')
#res_df_2 = pd.concat([df_obj_1, df_obj_2], axis=1, sort=False)
res_df_2

**Concatenating DataFrame using .append()**

In [ ]:
# Define a dictionary containing employee data 
emp_obj_1 = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd'],
        'Mobile No': [97, 91, 58, 76]} 

# Define a dictionary containing employee data 
emp_obj_2 = {'Name':['Gaurav', 'Dushyen', 'Sanjeevani', 'Manoranjan'], 
        'Age':[22, 32, 12, 52], 
        'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons'],
        'Salary':[1000, 2000, 3000, 4000]}  

# Convert the dictionary into DataFrame
df_obj_1 = pd.DataFrame(emp_obj_1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2, index=[4, 5, 6, 7])

print(df_obj_1, "\n\n", df_obj_2) 

# Using append function

res_df = df_obj_1.append(df_obj_2)
print("\n\n")
res_df

**Concatenating DataFrame with group keys**

In [ ]:
df_obj_1 = pd.DataFrame(emp_obj_1,index=[0, 1, 2, 3])

# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2, index=[4, 5, 6, 7])

print(df_obj_1, "\n\n", df_obj_2)  

# using keys 
frames = [df_obj_1, df_obj_2]

res_df = pd.concat(frames, keys=['x', 'y'])
print("\n")
res_df

<hr/>

**Merging a dataframe with one unique key combination**

In [ ]:
# Define a dictionary containing employee data 
emp_obj_1 = {'key': ['Pravin', 'Rayan', 'Sagar', 'Inder'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
         'Age':[27, 24, 22, 32],} 
   
# Define a dictionary containing employee data 
emp_obj_2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
         'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
 
# Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(emp_obj_1)
 
# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_1) 
  
 
print(df_obj_1, "\n\n", df_obj_2) 

# using .merge() function
res_df = pd.merge(df_obj_1, df_obj_2, on='key')
 
res_df

**Merging dataframe using multiple join keys**

In [ ]:
# Define a dictionary containing employee data 
emp_obj_1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32],} 

# Define a dictionary containing employee data 
emp_obj_2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(emp_obj_1)

# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2) 


print(df_obj_1, "\n\n", df_obj_2) 

# merging dataframe using multiple keys
res_df = pd.merge(df_obj_1, df_obj_1, on=['key', 'key1'])

res_df

**Merging dataframe using how in an argument**

In [ ]:
# Now we set how = 'left' in order to use keys from left frame only.

# using keys from left frame
res_df = pd.merge(df_obj_1, df_obj_1,  how='left', on=['key', 'key1'])
print("\n")
print(res_df)

# Now we set how = 'right' in order to use keys from right frame only.

# using keys from left frame
res_df = pd.merge(df_obj_1, df_obj_1,  how='right', on=['key', 'key1'])
print("\n")
print(res_df)

# Now we set how = 'outer' in order to get union of keys from dataframes.

# using keys from left frame
res_df = pd.merge(df_obj_1, df_obj_1,  how='outer', on=['key', 'key1'])
print("\n")
print(res_df)

# Now we set how = 'inner' in order to get intersection of keys from dataframes.

# using keys from left frame
res_df = pd.merge(df_obj_1, df_obj_1,  how='inner', on=['key', 'key1'])
print("\n")
print(res_df)

<hr />

**Joining DataFrame**

In [ ]:
# Define a dictionary containing employee data 
emp_obj_1 = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
             'Age':[27, 24, 22, 32]} 

# Define a dictionary containing employee data 
emp_obj_2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
             'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']} 

# Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(emp_obj_1,index=['K0', 'K1', 'K2', 'K3'])

# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2, index=['K0', 'K2', 'K3', 'K4'])


print(df_obj_1, "\n\n", df_obj_2)  

# joining dataframe
res_df_1 = df_obj_1.join(df_obj_2)

res_df_1

In [ ]:
# Now we use how = 'outer' in order to get union

# Getting union
res_df_1 = df_obj_1.join(df_obj_2, how='outer')
res_df_1

In [ ]:
# Now we use how = 'inner' in order to get union

# Getting union
res_df_1 = df_obj_1.join(df_obj_2, how='inner')
res_df_1

In [ ]:
# Joining dataframe using **on** in an argument

# Define a dictionary containing employee data 
emp_obj_1 = {'Name':['Pravin', 'Rayan', 'Sagar', 'Inder'], 
        'Age':[27, 24, 22, 32],
        'Key':['K0', 'K1', 'K2', 'K3']} 
    
# Define a dictionary containing employee data 
emp_obj_2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'], 
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']} 
  
# Convert the dictionary into DataFrame  
df_obj_1 = pd.DataFrame(emp_obj_1)
  
# Convert the dictionary into DataFrame  
df_obj_2 = pd.DataFrame(emp_obj_2, index=['K0', 'K2', 'K3', 'K4'])
 
print(df_obj_1, "\n\n", df_obj_2)

# using on argument in join
res_df = df_obj_1.join(df_obj_2, on='Key')
 
res_df